{% extends "brdtheo/base.html" %}
{% block title %}
  Blog - Théo Billardey
{% endblock title %}
{% block heading %}
  Blog
{% endblock heading %}
{% block header_image %}
  <div class="w-14 h-14 rotate-y-180 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/misc/peepo.gif')]">
  </div>
{% endblock header_image %}
{% block header_css_class %}
  wrapper
{% endblock header_css_class %}
{% block main_css_class %}
  wrapper
{% endblock main_css_class %}
{% block footer_css_class %}
  wrapper
{% endblock footer_css_class %}
{% block main %}
  {% if posts.count %}
    <ul>
      {% for post in posts %}
        <li class="not-last:border-b not-first:pt-8 border-electric-green">{% include "post-card.html" with post=post %}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-white text-sm">There is no blog post yet.</p>
  {% endif %}
{% endblock main %}
