{% extends "brdtheo/base.html" %}
{% block title %}
  Blog - Théo Billardey
{% endblock title %}
{% block heading %}
  Blog
{% endblock heading %}
{% block header_image %}
  <div class="w-14 h-14 rotate-y-180 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/misc/peepo.gif')]"></div>
{% endblock header_image %}
{% block main %}
  <ul>
    {% for post in posts %}
      <li class="not-last:border-b not-first:pt-8 border-electric-green">{% include "post-card.html" with post=post %}</li>
    {% endfor %}
  </ul>
{% endblock main %}
