{% extends "brdtheo/base.html" %}
{% block heading %}
  Blog
{% endblock heading %}
{% block header_image %}
  <div class="w-14 h-14 rotate-y-180 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/misc/peepo.gif')]">
  </div>
{% endblock header_image %}
{% block header_css_class %}
  wrapper
{% endblock header_css_class %}
{% block main_css_class %}
  wrapper-post
{% endblock main_css_class %}
{% block footer_css_class %}
  wrapper-post
{% endblock footer_css_class %}
{% block main %}
  {% include "post-header.html" with thumbnail=thumbnail title=title categories=categories created_at=created_at %}
  <article class="blog-post-content">{{ content | safe }}</article>
{% endblock main %}
