<section class="flex-col sm:flex-row flex gap-4">
  <div class="flex flex-col gap-4">
    <div class="post-it bg-post-it flex flex-col p-4 sm:p-6 text-sm relative">
      <p class="leading-[150%]">
        Owner of the YouTube channel
        <a class="underline" href="https://www.youtube.com/@CBMedia404">CB Media</a>
        - filming Thailand's local car scene - drives a V8-powered BMW E30
      </p>
      <small class="texte-sm mt-3 italic">photo: Kyle Loftis</small>
    </div>
    <div class="w-full sm:flex-1 h-12 bg-contain bg-center bg-repeat bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/e30.gif')]">
    </div>
  </div>
  <div class="bg-white p-4 flex-col w-fit self-center sm:self-auto">
    <div class="aspect-square w-48 h-48 opacity-95 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/v8_e30.webp')]">
    </div>
    <p class="mt-4 text-center font-light text-sm font-[Ubuntu]">S65 V8 E30</p>
  </div>
</section>
