<section class="flex-col @2xl:flex-row flex gap-4">
  <div class="flex flex-col gap-4">
    <div class="bg-post-it flex flex-col p-4 @xl:p-6 relative">
      <h2 class="font-semibold font-inter mb-2">Fun fact 🇹🇭</h2>
      <p class="leading-6 text-sm">
        Owner of the YouTube channel
        <a class="underline" href="https://www.youtube.com/@CBMedia404">CB Media</a>
        - filming Thailand's local car scene - drives a V8-powered BMW E30
      </p>
      <small class="texte-sm mt-3 italic">photos: Chad Bee, Kyle Loftis</small>
    </div>
    <div class="w-full h-12 bg-contain bg-center bg-repeat bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/e30.gif')]">
    </div>
  </div>
  <ul class="flex flex-col @lg:flex-row gap-4">
    <li class="h-fit bg-white p-4 flex-col w-fit self-center @xl:self-auto">
      <div class="aspect-square w-48 h-48 opacity-95 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/chad_bee_e30.webp')]">
      </div>
      <p class="mt-4 text-center font-semibold text-sm">Chad Bee's E30</p>
    </li>
    <li class="h-fit bg-white p-4 flex-col w-fit self-center @xl:self-auto">
      <div class="aspect-square w-48 h-48 opacity-95 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/v8_e30.webp')]">
      </div>
      <p class="mt-4 text-center font-semibold text-sm">S65 V8 E30</p>
    </li>
  </ul>
</section>
