<section>
  <div class="window w-full">
    <div class="title-bar">
      <h2 class="title-bar-text">FOR HIRE</h2>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body px-2 py-2 flex flex-col font-[Pixelated_MS_Sans_Serif]">
      <div class="flex items-center">
        <div class="w-16 h-16 bg-no-repeat bg-contain bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/computer.webp')]">
        </div>
        <p class="text-sm flex-1 px-6 tracking-wide">
          I am currently looking for a full-time position within the EU. Let’s get in touch!
        </p>
      </div>
      <div class="flex justify-center items-center mt-4 sm:mt-2 px-8 gap-2">
        <a href="https://github.com/brdtheo"
           class="xp-button flex justify-center items-center cursor-pointer select-none">GitHub</a>
        <a href="https://www.linkedin.com/in/theo-billardey/"
           class="xp-button flex justify-center items-center cursor-pointer select-none">LinkedIn</a>
      </div>
    </div>
  </div>
</section>
