<section>
  <div class="grid grid-cols-3 grid-rows-[1fr_80px] gap-4">
    <div class="col-start-1 row-start-1 row-span-2 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/deer.webp')]">
    </div>
    <div class="bg-white pt-6 pb-8 px-8 flex flex-col gap-2 col-span-2 relative">
      <div class="drop-shadow-[0_0_10px] drop-shadow-background absolute w-18 h-18 rotate-y-180 left-[-48px] bottom-[-42px] bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/camera.webp')]">
      </div>
      <h2 class="font-medium col-start-2 col-span-2 row-start-1 row-span-1">Pinned media 📌</h2>
      <p class="leading-[150%] text-sm overflow-hidden text-ellipsis line-clamp-5">
        Oh Deer!
        <br>
        Going through Nara park will make you encounter friendly specimens. Beware of their greed for crackers tho.
      </p>
    </div>
    <div class="row-start-2 col-span-2 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/todaiji.webp')]">
    </div>
  </div>
</section>
