<section>
  <div class="flex sm:grid sm:grid-cols-3 sm:grid-rows-[1fr_80px] gap-4">
    <div class="w-1/3 sm:w-auto sm:col-start-1 sm:row-start-1 sm:row-span-2 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/deer.webp')]">
    </div>
    <div class="w-2/3 sm:w-auto bg-white p-4 sm:pt-6 sm:pb-8 sm:px-8 flex flex-col gap-2 sm:col-span-2 sm:row-span-1 relative">
      <div class="hidden sm:block drop-shadow-[0_0_10px] drop-shadow-background absolute sm:w-18 sm:h-18 rotate-y-180 sm:left-[-48px] sm:bottom-[-42px] bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/camera.webp')]">
      </div>
      <h2 class="font-medium col-start-2 col-span-2 row-start-1 row-span-1">Pinned media 📌</h2>
      <p class="leading-[150%] text-sm">
        Oh Deer!
        <br>
        Going through Nara park will make you encounter friendly specimens. Beware of their greed for crackers tho.
      </p>
    </div>
    <div class="hidden sm:block row-start-2 col-span-2 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/todaiji.webp')]">
    </div>
  </div>
</section>
