<section>
  <div class="grid grid-cols-3 grid-rows-2 gap-4">
    <div class="col-span-1 @xl:row-span-2 row-span-1 bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/deer.webp')]">
    </div>
    <div class="col-span-2 row-span-1 bg-post-it p-4 @xl:p-6 relative">
      <div class="hidden @xl:block drop-shadow-[0_0_10px] drop-shadow-background absolute @xl:w-18 @xl:h-18 rotate-y-180 @xl:left-[-48px] @xl:bottom-[-42px] bg-cover bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/camera.webp')]">
      </div>
      <h2 class="font-semibold font-inter mb-2">Pinned media 📌</h2>
      <p class="leading-6 text-sm">
        Oh Deer!
        <br>
        Going through Nara park will make you encounter friendly specimens. Beware of their greed for crackers tho.
      </p>
    </div>
    {% include "brdtheo/sections/countrydex.html" with visited_country_list=visited_country_list to_visit_country_list=to_visit_country_list %}
  </div>
</section>
