<section class="pb-6">
  <div class="flex gap-4">
    <div class="w-16">
      <img width="64"
           height="144"
           src="https://d3np79dr82q4gx.cloudfront.net/home/avatar.webp"
           alt="habbo avatar">
    </div>
    <div class="flex-1 bg-white p-7 text-sm leading-[150%] relative">
      <p class="overflow-hidden text-ellipsis line-clamp-4">
        Welcome to my website. I am a Front-End engineer that loves traveling and
        car culture. Feel free to check out my work on GitHub or browse my blog
        posts.
      </p>
      <img width="128"
           height="96"
           class="absolute bottom-[-24px] right-[-48px] w-[128px] z-10"
           src="https://d3np79dr82q4gx.cloudfront.net/home/subaru.webp"
           alt="pixel art 2004 subaru impreza wrx" />
    </div>
  </div>
</section>
