<section>
  <div class="flex flex-col @xl:flex-row gap-4">
    <div class="w-16 self-center">
      <img width="64"
           height="144"
           src="https://d3np79dr82q4gx.cloudfront.net/home/avatar.webp"
           alt="Théo Billardey's habbo avatar">
    </div>
    <div class="flex-1 text-sm leading-6 relative">
      <div class="flex flex-col relative h-full p-1 bg-habbo-background border-2 border-habbo-border rounded shadow-[0 3px 0 1px rgba(0, 0, 0, 0.3)]">
        <div class="font-volter flex justify-center text-white h-3 relative mb-2">
          <h2 class="font-bold text-[9px] leading-none py-0.5 capitalize bg-habbo-background z-10 px-5">About</h2>
          <button class="cursor-pointer absolute right-0 w-6 h-3 text-xs bg-habbo-background z-10">X</button>
          <div class="absolute inset-0 opacity-20 pointer-events-none bg-[linear-gradient(45deg,_black_25%,_transparent_25%,_transparent_75%,_black_75%,_black),linear-gradient(45deg,_black_25%,_transparent_25%,_transparent_75%,_black_75%,_black)] bg-[length:4px_4px] bg-[position:0_0,2px_2px] mix-blend-multiply">
          </div>
        </div>
        <div class="bg-habbo-window-background flex-1 py-4 px-6 rounded border border-black text-[15px]">
          <p class="leading-6">✦ welcome to my website ✦</p>
          <p class="leading-6">
            I am a Front-End engineer that loves traveling and
            car culture. Feel free to check out my work on GitHub or browse my blog
            posts.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
