<section>
  <div class="flex-1 text-sm leading-6 relative">
    <div class="flex flex-col relative h-full p-1 font-volter bg-habbo-trophy-background border-2 border-black rounded shadow-[0 3px 0 1px rgba(0, 0, 0, 0.3)]">
      <div class="flex justify-center h-4 relative mb-2">
        <h2 class="font-semibold font-ubuntu text-sm leading-none py-0.5 capitalize bg-habbo-trophy-background z-10 px-5">
          Trophy
        </h2>
        <button class="cursor-pointer absolute right-0 w-6 h-4 text-xs bg-habbo-trophy-background z-10">X</button>
        <div class="absolute inset-0 opacity-20 pointer-events-none bg-[linear-gradient(45deg,_black_25%,_transparent_25%,_transparent_75%,_black_75%,_black),linear-gradient(45deg,_black_25%,_transparent_25%,_transparent_75%,_black_75%,_black)] bg-[length:4px_4px] bg-[position:0_0,2px_2px] mix-blend-multiply">
        </div>
      </div>
      <div class="px-8 pt-2 pb-1 font-ubuntu text-sn">
        <p class="leading-6">
          Congratulations for reaching a new milestone on your Vercel free tier plan! You earned a special badge "Team paused".
        </p>
        <a href="https://d3np79dr82q4gx.cloudfront.net/home/vercel.webp">
          <img class="mt-2"
               width="388"
               height="160"
               src="https://d3np79dr82q4gx.cloudfront.net/home/vercel.webp"
               alt="A dashboard view of a Vercel free tier plan with usage metrics beyond limits" />
        </a>
        <hr class="mt-4 mb-1 border-[#444]">
        <div class="flex justify-between font-semibold font-ubuntu text-sm">
          <p>29-04-2025</p>
          <p>Vercel Inc.</p>
        </div>
      </div>
    </div>
  </div>
</section>
