<section class="flex flex-1">
  <div class="flex flex-1 flex-col gap-4">
    <div class="bg-frog text-cream flex flex-col items-center flex-1 p-6 min-w-3xs">
      <h2 class="w-full text-center text-cream font-semibold text-lg font-inter">My zen</h2>
      <p class="w-full flex-1 text-center leading-8 pt-2 pb-6 text-sm">
        Tests are passing
        <br />
        Code is easy to understand
        <br />
        Production is stable
      </p>
      <img width="112"
           height="134"
           class="w-24 aspect-auto"
           src="https://d3np79dr82q4gx.cloudfront.net/home/fountain.webp"
           alt="fountain">
    </div>
    <a class="button-98 h-12 flex justify-center items-center"
       href="https://www.srenity.online/">get serenity</a>
  </div>
</section>
