{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Pixelify+Sans:wght@400&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/xp.css' %}" rel="stylesheet" />
    <link href="{% static 'css/98.css' %}" rel="stylesheet" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'favicon-16x16.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'favicon-32x32.png' %}" />
    <link rel="icon"
          type="image/png"
          href="{% static 'favicon-96x96.png' %}"
          sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="brdtheo" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <meta name="description"
          content="{% block metadescription %}{% endblock metadescription %}">
    <script defer
            data-domain="brdtheo.com"
            src="https://analytics.brdtheo.com/js/script.js"></script>
  </head>
  <body>
    <header class="{% block header_css_class %}{% endblock header_css_class %} flex items-center justify-between">
      <div class="flex flex-col gap-2 py-8 w-full">
        <h1 class="text-xl font-bold text-white">
          {% block heading %}
          {% endblock heading %}
        </h1>
        <nav class="text-white">
          <ul class="font-medium text-sm flex">
            <a class="underline pr-3" href="{% url 'home' %}">Home</a>
            <a class="underline pr-3" href="{% url 'blog' %}">Blog</a>
          </ul>
        </nav>
      </div>
      {% block header_image %}
      {% endblock header_image %}
    </header>
    <main class="{% block main_css_class %}{% endblock main_css_class %} flex flex-col">
      {% block main %}
      {% endblock main %}
    </main>
  </body>
</html>
