{% extends "brdtheo/base.html" %}
{% block heading %}
  Théo Billardey
{% endblock heading %}
{% block header_image %}
  <div class="w-24 h-16 bg-no-repeat bg-contain bg-center bg-[url('https://d3np79dr82q4gx.cloudfront.net/home/subaru.webp')]">
  </div>
{% endblock header_image %}
{% block main %}
  <div class="flex flex-col gap-4">
    {% include "brdtheo/sections/summary.html" %}
    <div class="flex flex-col @xl:flex-row gap-4">
      {% include "brdtheo/sections/zen.html" %}
      <div class="flex flex-col gap-4">
        {% include "brdtheo/sections/hire-me.html" %}
        {% include "brdtheo/sections/favourite-stack.html" with stack_tools=stack_tools %}
      </div>
    </div>
    {% include "brdtheo/sections/trophy.html" %}
    {% if latest_post %}
      {% include "brdtheo/sections/latest-post.html" %}
    {% endif %}
    {% include "brdtheo/sections/pinned-media.html" with visited_country_list=visited_country_list to_visit_country_list=to_visit_country_list %}
    {% include "brdtheo/sections/fun-fact.html" %}
  </div>
{% endblock main %}
